@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  margin: 0 auto;
  font-family: 'Fjalla One', sans-serif;
}

.App {
  background: rgb(197,190,128);
  background: radial-gradient(circle, rgba(197,190,128,1) 0%, rgba(148,187,233,1) 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.redText {
  color: #fa0101;
  font-weight: bold;
  font-size: 30px;
}

.counterAppWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #0c5959;
  width: 400px;
}

.Wrap {
  width: 250px;
  border: 1px solid #024141;
  border-radius: 10px;
  padding: 60px;
  margin: 20px;

}

.displayWrap {
  font-size: 20px;
}

.counterButtonsWrap {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.btn {
  background-color: #ab9115;
  outline: none;
  border: none;
  border-radius: 5px;
  padding:  10px 30px;
  margin: 10px;
  color: #024141;
  font-weight: bold;
}

.btn:disabled {
opacity: 0.1;
}

.btn:active {
  background-color: #504a27;
}
.inputValue {
  width: 50px;
  background-color: #c5be80;
  color: #024141;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  outline: none;
  border: none;
  border-radius:5px;
  margin: 5px;
}

.errorField{
  height: 22px;
  color: red;
}

.inputSettings{
  margin-bottom: 10px;
}
