@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  background-color: #a2cbd5;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.redText {
  color: red;
  font-weight: bold;
  font-size: 50px;
}

.counterAppWrap {
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  /*align-items: center;*/
  flex-wrap: wrap;
  color: #504a27;
}

.Wrap {
  width: 250px;
  border: 1px solid #998d4b;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.displayWrap {
  border: 1px solid #998d4b;
  border-radius: 10px;
}

.counterButtonsWrap {
  border: 1px solid #998d4b;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.btn {
  background-color: #998d4b;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  color: bisque;
}

.btn:disabled {
  background-color: gray;
}

.btn:active {
  background-color: #504a27;
}
.inputValue {
  width: 50px;
  background-color: #b2e0ea;
  color: #998d4b;
  outline: none;
  border: none;
  padding: 13px;
  border-radius: 8px;
  margin: 5px;
}

.errorField{
  height: 22px;
  color: red;
}

.inputSettings{
  margin-bottom: 10px;
}
